# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr


minecraft-merged-project-root-1.19.3-net.fabricmc.yarn.1_19_3.1.19.3+build.1-v2-sources.jar_unzipped